<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="~{fragments/base :: header}"></div>
  <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css" th:href="@{/css/home.css}" />
  <script th:src=@{js/home.js}></script>
</head>

<body>
  <div th:replace="~{fragments/base :: nav}"></div>

  <div class="container-fluid" id="search">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <form action="#" th:action="@{/}" th:object="${ticker}" method="POST">
          <div class="form-group text-center">
            <label for="ticker"><h1>Focal Stock</h1></label>
            <input type="text" th:field="*{ticker}" class="form-control" placeholder="Ticker"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div th:replace="~{fragments/base :: footer}"></div>
  <div th:replace="~{fragments/base :: js}"></div>
</body>
</html>
